body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  font-family: 'Roboto', sans-serif;
}

/* colors
    #a8dadc

*/

/* Navbar */

a {
  text-decoration: none;
}

.container {
  max-width: 100%;
  height: 100px;
  background-color: #a8dadc;
  /* box-shadow: 3px 27px 37px 6px rgba(0,0,0,0.80);
  -webkit-box-shadow: 3px 0px 10px 6px rgb(0 0 0 / 54%);
  -moz-box-shadow: 3px 0px 10px 6px rgb(0 0 0 / 54%); */
}

.left-side {
  display: flex;
  float: left;
}

#logo {
  margin-left: 100px;
  color: white;
  font-weight: 300;
  font-size: 35px;
}

.left-side ul {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  align-items: center;
  margin: 15px 0px 0px 40px;
}

.left-side ul li {
  font-size: 18px;
  margin-right: 50px;
  color: white;
}

.left-side ul a:hover {
  text-decoration: underline white;
}

.right-side {
  display: flex;
  float: right;
}

#loginBtn {
  margin: 30px 40px 0px 0px;
  color: white;
  border-color: white;
}

#loginBtn:hover {
  background-color: white;
  color: #a8dadc;
  border-color: white;
}

#userDetails {
  color: white;
  font-size: 18px;
  font-weight: 300;
  margin: 30px 30px;
}

#userDetails:hover {
  text-decoration: underline;
}

.islogin {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 30px;
}

#logoutIcon {
  color: white;
  cursor: pointer;
}

/* Hamburger */

.hamburger_menu {
  display: none;
}

/* Home Page */

#bgImg {
  height: 120vh;
  width: 90%;
  object-fit: cover;
  opacity: 0.8;
  border-radius: 0px 0px 20px 20px;
}

.foreword {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
}

.foreword h1 {
  position: absolute;
  top: 37vh;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 40px;
  color: black;
  font-weight: 300;
}

.foreword p {
  position: absolute;
  top: 50vh;
  background-color: #a8dadc;
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
}

.foreword_details {
  display: contents;
}

#startBtn {
  position: absolute;
  padding: 10px 15px 10px 15px;
  top: 65vh;
  font-size: 16px;
  background-color: white;
  color: #a8dadc;
  border: none;
  border-radius: 10px;
}

#startBtn:hover {
  padding: 18px 22px 18px 22px;
  font-size: 20px;
}


/* About */

.container_about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_about h1 {
  font-weight: 300;
  font-size: 40px;
}

.about_content {
  width: 70%;
  background-color: #a8dadc;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
}

.about_content p {
  font-size: 18px;
  color: white;
  text-align: center;
}

/* Contact Us */

.container_contactUs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_contactUs h1 {
  font-weight: 300;
  font-size: 40px;
}

.contactUs_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: auto;
  background-color: #ECB390;
  color: white;
  border-radius: 10px;
}

.container_contactUs h2 {
  font-weight: 300;
}

.contactUs_form {
  display: contents;
}

/* .contactUs_form input{
  width: 40%;
  padding: 12px 20px;
  margin: 12px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
} */

#contactus_ta {
  width: fit-content;
  padding: 12px 20px;
  margin: 12px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

#contactus_btn {
  margin: 12px 0;
  background-color: #2ECC71;
}


/* Footer */

.container_footer {
  background-color: rgb(214, 214, 214);
  height: auto;
  width: 100%;
  margin: 30px 0px 0px 0px;
}


/* FormInputs */

.contactUs_form input {
  width: 40%;
  padding: 12px 20px;
  margin: 12px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}


.contactUs_form span {
  font-size: 12px;
  color: red;
}

.contactUs_form input:invalid {
  border: red solid 1px;
}

/* form */

#form_cover {
  background-color: #a8dadc;
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px 0px 0px 0px;
}

.input-field {
  display: contents;
}

.input-field input {
  width: 100%;
  padding: 12px 20px;
  margin: 12px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

#formBtn {
  width: 50%;
  background-color: white;
  color: #a8dadc;
  margin-top: 15px;
}

.input-field span {
  color: red;

}

/* Sign in */

.container_signin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_signin h2 {
  margin-top: 5px;
  font-size: 35px;
  font-weight: 300;
}

#ride-line {
  position: relative;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 32px;
}

/* Sign Up */

.container_signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_signup h2 {
  margin-top: 5px;
  font-size: 35px;
  font-weight: 300;
}

/* 404 page */

.err_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee6e2;
}

#err_img {
  width: auto;
  height: 81vh;
}

#err_title {
  position: absolute;
  top: 75vh;
  text-align: center;
  color: #a8dadc;
}

.err_items button {
  background-color: #a8dadc;
  top: -4vh;
}

.err_items button:hover {
  background-color: #ffbb00;
  border-color: #a8dadc;
  top: -4.2vh;
}

/* MyPlans page */

.aboveCalendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Modal */

#addEventBtn {
  margin: 30px 20px 20px 20px;
  font-size: 16px;
  background-color: #2ECC71;
}

#modal_box {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 500px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 15px 2px rgb(0 0 0 / 20%);
}

.modal_header {
  width: 100%;
  background-color: #a8dadc;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-bottom: 10px;
}

.modal_header p {
  font-size: 20px;
}

#closeIcon {
  position: relative;
  left: 24%;
  cursor: pointer;
}

#closeIcon:hover {
  background-color: rgba(158, 158, 158, 0.3)
}

.modal_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#addEventInput {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 20px 10px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

#addBtnInModal {
  margin: 12px 20px 20px 20px;
  font-size: 16px;
  background-color: #2ECC71;
}

/* Profile */

.profile_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailsBox {
  background-color: #a8dadc;
  width: 60vw;
  height: 50vh;
  margin: 30px 0px 0px 0px;
  border-radius: 10px;
}

.editUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
}

.editUser input[type=submit] {
  background-color: white;
  color: #a8dadc;
  padding: 10px 10px;
  font-size: 16px;
  margin: 10px 0px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.editInput input[type=text] {
  margin: 6px 0px;
  height: 20px;
  padding: 8px 20px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.editInput svg {
  cursor: pointer;
}


@media only screen and (min-width: 360px) and (max-width: 965px) {

  .hamburger_menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 15px;
    padding-top: 1vh;
  }

  .hamburger {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-flow: column nowrap;
    z-index: 10;
    cursor: pointer;
  }

  .burger {
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    transform-origin: 1px;
    transition: all 0.3s linear;
  }

  .left-side ul li {
    margin: 0;
  }

  #loginBtn {
    margin: 20px 0px;
  }

  .foreword h1 {
    font-size: 28px;
    text-align: center;
  }

  .foreword p {
    top: 48vh;
    text-align: center;
  }

  #startBtn {
    top: 63vh;
  }

  #bgImg {
    height: 100vh;
    width: 100%;
  }

  .about_content {
    width: 90%;
  }

  .contactUs_content {
    width: 100%;
  }

  .contactUs_form input {
    width: 60%;
  }

  #contactus_ta {
    width: 80%;
  }

  #form_cover {
    width: auto;
  }

  #modal_box {
    width: 360px;
  }

  #closeIcon {
    left: 14%;
  }

  .detailsBox {
    width: 80vw;
  }
}


@media only screen and (max-width: 390px) {
  .container {
    max-width: 110%;
    width: 107%;
  }

  .right-side {
    width: 108%;
  }
}